.footer {
  padding: 2rem;
  background-color: #25855a; 
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
}

.footer-section {
  margin-bottom: 1.5rem;
}

.logo-icon-footer {
  color: white;
  font-size: 1.8rem;
}

.footer-section1 {
  margin-bottom: 100px;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.footer-text {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #48bb78; 
}

.footer-form {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.footer-input {
  padding: 0.5rem;
  border: 1px solid var(--primary-exlight);
  border-radius: 0.25rem;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.footer-input::placeholder {
  color: var(--primary-exlight);
}

.footer-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-light); 
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-button:hover {
  background-color: var(--primary-exlight); 
}

.footer-disclaimer {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-top: 1rem;
}

.footer-social-icon {
  font-size: 1.5rem;
  color: white;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.footer-social-icon:hover {
  color: #48bb78;
}

.footer-copyright {
  grid-column: 1 / -1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem;
  }
  
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}