:root {
  --primary: #38a169;
  --primary-light: #48bb78;
  --primary-dark: #25855a;
  --secondary: #f0fff4;
  --accent: #f56565;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
}

h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', cursive;
}